.item {
  &-info {
    width: 30vw;

    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }

  &-tags-wrap {
    border: none;
    padding: 0;
  }

  &-table {
    width: 40vw;

    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }
}

.list-group-item {
  @media screen and (max-width: 992px) {
    padding: 0.7rem 0.9rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }
}

.item-toolbar {
  width: 70vw;

  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}

.like {
  font-size: 2vw;
  color: #00000030;

  &-available {
    font-size: 2vw;
    transition: all 0.2s ease-out;
  }

  &-available:hover {
    cursor: pointer;
  }

  &-active {
    color: #dc3545;
  }

  &-active:hover {
    color: #a52734;
  }

  &-not-active.light {
    color: #00000030;
  }

  &-not-active.light:hover {
    color: #2719198f;
  }

  &-not-active.dark {
    color: #b8b8b830;
  }

  &-not-active.dark:hover {
    color: #c374745c;
  }
}

.rti--tag:hover {
  cursor: pointer;
}
