@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.collection {
  &-image {
    width: 20vw;
    height: 20vw;
    border: 1px solid #dcdcdc;
    margin-right: 0.5vw;
  }

  &-info {
    width: 50vw;
  }

  &-table {
    width: 70vw;
    margin-bottom: 2vw;
  }

  &-author:hover {
    cursor: pointer;
  }
}

.dark .accordion-button {
  background-color: #6c757d;
}

.accordion-button,
.accordion-body {
  @media screen and (max-width: 992px) {
    padding: 0.7rem 0.9rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0.5rem 0.7rem;
  }
}

.accordion-body p {
  margin-bottom: 0;
}
