.modal-form {
  &-label {
    width: 10vw;
  }

  &-control {
    width: 10vw;
  }

  &-select {
    width: 5vw;
  }

  &-delete {
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
      color: #dc3545;
    }
  }
}
