.comments {
  &-container {
    width: 60vw;
  }

  &-card {
    background-color: #f0f2f5;
  }

  &-send-button {
    width: 4vw;
    align-self: flex-end;
  }

  &-author:hover {
    cursor: pointer;
  }

  &-delete {
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
      color: #dc3545;
    }
  }
}
