.comments {
  &-card {
    background-color: #f0f2f5;
    width: 60vw;

    @media screen and (max-width: 1200px) {
      width: 70vw;
    }

    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }

  &-send-button {
    align-self: flex-end;
  }

  &-author:hover {
    cursor: pointer;
  }

  &-delete {
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
      color: #dc3545;
    }
  }
}
