.theme-switcher {
  border-radius: 50%;
}

.navbar-title {
  transition: all 0.2s ease-out;

  &.dark {
    color: black;

    &:hover {
      color: white;
    }
  }

  &.white {
    color: white;

    &:hover {
      color: rgb(178, 178, 178);
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 576px) {
    font-size: 0.875rem;
  }
}
